.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.portfolio {
    padding-top: 200px;
    margin-bottom: 100px;
}

.portfolio-card {
    margin-right: 30px;
}

.portfolio-card:last-child {
    margin-right: 0;
}

.portfolio-card-text {
    margin-bottom: 38px;
}

.portfolio-card-text > div {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.portfolio-card-text > div > span {
    color: #C0B2B2;
}

.portfolio-card-text > div > a {
    color: black;
    text-decoration: none;
}

.portfolio-card-text > div > a:hover {
    text-decoration: underline;
}

.portfolio-card-poster {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-card-poster::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(54, 66, 64, 0.5);
    left: 0;
    top: 0;
}

.portfolio-card-poster-sila {
    background-image: url('../img/dj-sila.jpg');
}

.portfolio-card-poster-milov {
    background-image: url('../img/Milov-artist.jpg');
}

.portfolio-card-link {
    color: white;
}


@media screen and (max-width:940px) {
    .portfolio {
        padding-top: 100px;
    }

    .main-title {
        font-size: 24px;
        margin-left: 0;
        line-height: 30px;
        margin-bottom: 80px;
    }

    .footer > .container {
        flex-direction: column;
    }

    .footer-social {
        margin-bottom: 20px
    }

}

@media screen and (max-width:640px) {
    .portfolio-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-card {
        margin-right: 0;
        margin-top: 50px;
    }

    .portfolio-card:first-child {
        margin-top: 0;
    }
}